* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0em;
  padding: 0em;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  color: #50C6C6;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #50C6C6;
}

@-webkit-keyframes prev {
  0% {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  100% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
}

@keyframes prev {
  0% {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  100% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
}

@-webkit-keyframes next {
  0% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
}

@keyframes next {
  0% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
}

img {
  width: 100%;
}

.underline {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0em;
  margin: 0em;
}

.underline .color {
  width: 10%;
  background-color: #50C6C6;
  padding: 0.1em;
}

.underline .nuetral {
  width: 90%;
  background-color: #373737;
  padding: 0.05em;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

h2 {
  font-size: 1.8em;
}

body {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

body .main_top {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: rgba(161, 220, 221, 0.7);
  position: fixed;
  bottom: 4em;
  right: 9px;
  border-radius: 10px;
  display: none;
}

body .main_top:hover {
  background-color: #50C6C6;
}

body .main_top .material-icons {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 5px;
}

body h3 {
  font-size: 1.8em;
}

body p {
  font-size: 1em;
}

body header .header_1 {
  background-color: #333333;
  color: #ffffff;
  padding: 2em;
  position: relative;
  z-index: 500;
  display: none;
}

body header .header_1 .contact {
  text-align: center;
}

body header .header_1 .contact div {
  margin: 1em;
}

body header .header_1 .social_media {
  text-align: center;
}

body header .header_1 .social_media div {
  margin: 1em 0.1em;
  margin-bottom: 0px;
  width: 35;
  height: 35px;
  background-color: #1E2022;
  padding: 5px;
  padding-top: 10px;
  display: inline;
  -webkit-transition: 500ms;
  transition: 500ms;
}

body header .header_1 .social_media div span {
  margin: 0.2em 0.1em;
  font-size: 20px;
}

body header .header_1 .social_media .facebook:hover {
  background-color: #3E6EC2;
}

body header .header_1 .social_media .pinterest:hover {
  background-color: #BD4550;
}

body header .header_1 .social_media .twitter:hover {
  background-color: #3FADE1;
}

body header .header_1 .social_media .dribbble:hover {
  background-color: #D3689E;
}

body header .header_1 .social_media .linkedin:hover {
  background-color: #216AAF;
}

body header .header_1 .social_media .googleplus:hover {
  background-color: #C86B6F;
}

body header .header_1 .social_media .skype:hover {
  background-color: #47BCE5;
}

body header .header_2 {
  position: relative;
}

body header .header_2 .top {
  border-radius: 60px;
  background-color: #F3F3F5;
  width: 50px;
  margin: 0em auto;
  margin-top: -25px;
  text-align: center;
  z-index: 200;
}

body header .header_2 .top .glyphicon {
  margin-top: 23px;
  font-size: 20px;
}

body header .header_2 .header_2_container .ellusive {
  text-align: center;
  margin: 2em;
}

body header .header_2 .header_2_container .ellusive h2 {
  margin-top: 1.5em;
}

body header .header_2 .header_2_container nav {
  position: relative;
  width: 90%;
  margin: 0em auto;
  z-index: 20;
}

body header .header_2 .header_2_container nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #F3F3F5;
  padding: 0.5em;
  width: 100%;
  margin: 1em auto;
  cursor: pointer;
}

body header .header_2 .header_2_container nav ul {
  display: none;
  position: absolute;
  top: 30px;
  width: 100%;
  background-color: #ffffff;
  padding: 0em;
  border: 1px solid;
  color: #000;
  text-align: left;
}

body header .header_2 .header_2_container nav ul .fa {
  display: none;
}

body header .header_2 .header_2_container nav ul .div {
  margin: 0em;
  padding: 0em;
  text-align: left;
}

body header .header_2 .header_2_container nav ul .div .nav_pin {
  display: none;
}

body header .header_2 .header_2_container nav ul .div .nav_pin_home {
  display: none;
}

body header .header_2 .header_2_container nav ul a, body header .header_2 .header_2_container nav ul li {
  text-decoration: none;
  color: #000000;
}

body header .header_2 .header_2_container nav ul a:hover, body header .header_2 .header_2_container nav ul li:hover {
  background-color: #50C6C6;
  color: #ffffff;
}

body header .header_2 .header_2_container nav ul a {
  display: block;
  padding: 8px 8px;
}

body header .header_img {
  position: relative;
}

body header .header_img img {
  width: 100%;
}

body header .header_img .direction {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  z-index: 200;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

body header .header_img .direction .glyphicon {
  font-size: 20px;
}

body header .header_img .direction .prev_wrapper {
  border: 2px solid;
  width: 40px;
  padding: 0.5em;
  border-radius: 50px;
  -webkit-animation-name: prev;
          animation-name: prev;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  opacity: 0.6;
}

body header .header_img .direction .prev_wrapper:hover {
  opacity: 1;
}

body header .header_img .direction .next_wrapper {
  border: 2px solid;
  width: 40px;
  padding: 0.5em;
  border-radius: 50px;
  -webkit-animation-name: next;
          animation-name: next;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  opacity: 0.6;
}

body header .header_img .direction .next_wrapper:hover {
  opacity: 1;
}

body header .header_img .img_tracker {
  display: none;
}

body header .header_img .text {
  display: none;
  width: 100%;
}

body header .header_img .text button {
  padding: 0.5em;
  background-color: #50C6C6;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  margin-top: 1em;
}

body main .section_1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

body main .section_1 .circle {
  width: 120px;
  height: 120px;
  padding-top: 1px;
  padding-left: 2px;
  margin: 0em auto;
  border-radius: 100px;
  background-color: #277B7B;
  -webkit-transition: 500ms;
  transition: 500ms;
  position: relative;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

body main .section_1 .circle:hover {
  background-color: #ffffff;
}

body main .section_1 .circle:hover div {
  background-color: #ffffff;
  border: 4px solid #50C6C6;
}

body main .section_1 .circle:hover div .glyphicon,
body main .section_1 .circle:hover div i {
  color: #50C6C6;
}

body main .section_1 .circle div {
  width: 117px;
  height: 117px;
  border-radius: 100px;
  border: 4px solid #50C6C6;
  background-color: #277B7B;
  padding-right: 45px;
  padding-top: 30px;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

body main .section_1 .circle div .glyphicon,
body main .section_1 .circle div i {
  width: 30px;
  font-size: 50px;
  margin: 0em;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

body main .section_1 div {
  text-align: center;
  background-color: #50C6C6;
  color: #ffffff;
  padding: 1em 1.7em;
}

body main .section_1 div img {
  width: 150px;
  border-radius: 50px;
}

body main .section_1 div h3 {
  margin: 0.5em 0em;
}

body main .section_1 .column_1 {
  grid-column: span 12;
}

body main .section_1 .column_2 {
  grid-column: span 12;
}

body main .section_1 .column_3 {
  grid-column: span 12;
}

body main .section_1 .column_4 {
  grid-column: span 12;
}

body main .section_2 {
  background-image: url("./images/2(1).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: center;
  padding: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

body main .section_2 .card {
  text-align: center;
  padding: 3em 0em;
  border: 1px solid #333333;
  background-color: #000000;
  margin-bottom: 2em;
}

body main .section_2 .card span {
  color: #ffffff;
  opacity: 0.5;
  font-size: 0.8em;
}

body main .section_2 .card span a {
  opacity: 0.8;
}

body main .section_2 .card span:hover {
  opacity: 1;
}

body main .section_2 .card span:hover a {
  opacity: 1;
}

body main .section_2 .card h3 {
  text-align: center;
  color: #50C6C6;
  margin: 0.5em 0em;
}

body main .section_2 .card button {
  padding: 0.4em 0.7em;
  margin-top: 1em;
  background-color: #50C6C6;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  -webkit-transition: 1s;
  transition: 1s;
}

body main .section_2 .card button:hover {
  opacity: 0.7;
}

body main .section_2 .column_1 {
  padding: 3em;
  grid-column: span 12;
}

body main .section_2 .column_1 h2 {
  margin: 0.5em 0em;
}

body main .section_2 .column_2 {
  grid-column: span 12;
}

body main .section_2 .column_3 {
  grid-column: span 12;
}

body main .section_2 .column_4 {
  grid-column: span 12;
}

body main .section_3 {
  padding: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

body main .section_3 .column_1 {
  grid-column: span 12;
}

body main .section_3 .column_2 {
  grid-column: span 12;
}

body main .section_3 .column_2 .underline {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0em;
  margin: 0em;
}

body main .section_3 .column_2 .underline .color {
  width: 10%;
  background-color: #56AED4;
  padding: 0.1em;
}

body main .section_3 .column_2 .underline .nuetral {
  width: 90%;
  background-color: #E1E0DF;
  padding: 0.05em;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

body main .section_3 .column_2 h2 {
  font-size: 2em;
}

body main .section_3 .column_2 h3 {
  font-size: 1.5em;
  margin: 1em 0em;
}

body main .section_3 .column_2 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .section_3 .column_2 p span {
  width: 10px;
  margin-right: 0.8em;
}

body main .section_3 .column_2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em 0em;
}

body main .section_3 .column_2 div .btn_blue {
  padding: 0.4em;
  background-color: #50C6C6;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  width: 100px;
  margin: 0.5em 0em;
  -webkit-transition: 1s;
  transition: 1s;
}

body main .section_3 .column_2 div .btn_blue:hover {
  opacity: 0.7;
}

body main .section_3 .column_2 div .btn_grey {
  padding: 0.4em;
  background-color: #A8A8A8;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  width: 115px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

body main .section_3 .column_2 div .btn_grey:hover {
  opacity: 0.5;
}

body main .section_4 {
  background-color: #F3F3F5;
  padding: 5em 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

body main .section_4 div img {
  width: 80%;
  margin: 1em 0em;
}

body main .section_4 .column_1 {
  text-align: center;
  grid-column: span 12;
}

body main .section_4 .column_1 h2 {
  font-size: 2em;
  margin: 1em 0em;
}

body main .section_4 .column_2 {
  grid-column: span 12;
}

body main .section_4 .column_3 {
  grid-column: span 12;
}

body main .section_4 .column_4 {
  grid-column: span 12;
}

body main .section_4 .column_5 {
  grid-column: span 12;
}

body main .section_5 {
  padding: 7em 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  text-align: center;
}

body main .section_5 div {
  text-align: center;
}

body main .section_5 div img {
  width: 90%;
  border-radius: 1000px;
  border: 1px solid #7ED4D4;
  margin: 1em 0em;
  margin-top: 2em;
}

body main .section_5 h3 {
  font-size: 1.2em;
  margin: 0;
}

body main .section_5 p {
  margin: 0;
}

body main .section_5 .column_1 {
  grid-column: span 12;
}

body main .section_5 .column_1 h2 {
  font-size: 2em;
  margin: 1em 0em;
}

body main .section_5 .column_2 {
  grid-column: span 12;
}

body main .section_5 .column_3 {
  grid-column: span 12;
}

body main .section_5 .column_4 {
  grid-column: span 12;
}

body main .section_5 .column_5 {
  grid-column: span 12;
}

body main .section_5 .column_6 {
  grid-column: span 12;
}

body main .section_5 .column_7 {
  grid-column: span 12;
}

body main .section_6 {
  background-color: #50C6C6;
  color: #ffffff;
  padding: 3em 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

body main .section_6 .column_1 {
  margin: 0.5em 0em;
  grid-column: span 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .section_6 .column_1 .fa {
  width: 50px;
  font-size: 40px;
  color: #287B7B;
  margin-right: 14px;
}

body main .section_6 .column_1 h2 {
  font-size: 2.3em;
}

body main .section_6 .column_2 {
  grid-column: span 12;
}

body main .section_6 .column_2 input {
  width: 100%;
  padding: 1em;
  border-radius: 10px;
  border: none;
}

body main .section_6 .column_2 button {
  padding: 0.5em;
  background-color: #287B7B;
  color: #50C6C6;
  font-size: 1.5em;
  border-radius: 10px;
  margin: 0.5em 0em;
  border: none;
}

body main .section_7 {
  padding: 2em 1em;
  background-color: #232323;
  color: #777777;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

body main .section_7 .column_1 {
  grid-column: span 12;
}

body main .section_7 .column_1 h2 {
  font-size: 2em;
  margin: 0.5em 0em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body main .section_7 .column_1 .info_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .section_7 .column_1 .info_container .info {
  margin: 1em 0em;
}

body main .section_7 .column_1 .info_container .time {
  margin: 1em 0em;
}

body main .section_7 .column_1 .info_container .time p {
  margin: 0.4em 0em;
}

body main .section_7 .column_1 .info_container .time .glyphicon {
  margin-right: 0.5em;
}

body main .section_7 .column_2 {
  grid-column: span 12;
}

body main .section_7 .column_2 .map {
  margin-top: 2em;
}

body main .section_7 .column_2 .map iframe {
  opacity: 0.5;
  border-radius: 10px;
}

body main .section_7 .column_2 .map iframe:hover {
  opacity: 1;
}

body footer {
  background-color: #232323;
  color: #777777;
  text-align: left;
  padding: 3em 0em;
  border-top: 2px solid #373737;
}

body footer a {
  color: #777777;
  margin: 1em 0em;
}

body footer a:hover {
  color: #777777;
}

@media (min-width: 1005px) {
  @-webkit-keyframes drop {
    0% {
      -webkit-transform: translateY(-40px);
              transform: translateY(-40px);
    }
    100% {
      -webkit-transform: translateY(1px);
              transform: translateY(1px);
    }
  }
  @keyframes drop {
    0% {
      -webkit-transform: translateY(-40px);
              transform: translateY(-40px);
    }
    100% {
      -webkit-transform: translateY(1px);
              transform: translateY(1px);
    }
  }
  body {
    font-size: 16px;
  }
  body h1,
  body h2 {
    font-size: 2em;
  }
  body header .header_1 {
    background-color: #333333;
    color: #ffffff;
    padding: 0em;
    position: relative;
    float: left;
    display: none;
    width: 100%;
  }
  body header .header_1 .contact {
    width: 80%;
    display: inline;
    margin-right: 15em;
  }
  body header .header_1 .contact div {
    margin: 1em;
    display: inline-block;
  }
  body header .header_1 .social_media {
    width: 450px;
    display: inline-block;
    text-align: right;
    position: absolute;
    right: 0;
    top: 10px;
  }
  body header .header_1 .social_media div {
    margin: 0em 0.1em;
    width: 4em;
    height: 40px;
    background-color: #1E2022;
    padding: 7px;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  body header .header_1 .social_media div span {
    font-size: 20px;
  }
  body header .header_2 {
    position: relative;
    clear: both;
  }
  body header .header_2 .top {
    border-radius: 60px;
    background-color: #F3F3F5;
    width: 50px;
    margin: 0em;
    margin-left: auto;
    margin-right: 3em;
    margin-top: -45px;
    text-align: center;
    position: absolute;
    top: 18px;
    right: 0;
  }
  body header .header_2 .top .glyphicon {
    margin-top: 23px;
    font-size: 20px;
  }
  body header .header_2 .header_2_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
  body header .header_2 .header_2_container .ellusive {
    width: 250px;
    text-align: left;
    margin: 0em 3em;
    padding: 0;
    padding-bottom: 0.9em;
  }
  body header .header_2 .header_2_container .ellusive h2 {
    margin-top: 0.5em;
    margin-bottom: 0em;
  }
  body header .header_2 .header_2_container .ellusive p {
    margin-top: 0em;
    font-size: 0.8em;
  }
  body header .header_2 .header_2_container nav {
    width: 500px;
    position: relative;
    margin: 0em;
    padding: 0em;
    z-index: 20;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body header .header_2 .header_2_container nav .menu {
    display: none;
  }
  body header .header_2 .header_2_container nav ul {
    position: static;
    width: 100%;
    background-color: #ffffff;
    padding: 0em;
    border: none;
    color: #000000;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  body header .header_2 .header_2_container nav ul .fa {
    display: inline-block;
    width: 10px;
  }
  body header .header_2 .header_2_container nav ul div {
    margin: 0em;
    padding: 0em;
    text-align: left;
  }
  body header .header_2 .header_2_container nav ul li {
    color: #000000;
    display: inline-block;
    padding-left: 0px;
    -webkit-transition: 300ms;
    transition: 300ms;
    border-bottom: 2px solid rgba(31, 32, 34, 0.5);
  }
  body header .header_2 .header_2_container nav ul li:hover {
    background-color: #50C6C6;
  }
  body header .header_2 .header_2_container nav ul a {
    color: #000000;
    color: #000000;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  body header .header_2 .header_2_container nav ul a:hover {
    background-color: #50C6C6;
  }
  body header .header_2 .header_2_container nav ul .home {
    background-color: #FCFCFE;
    color: #000000;
    border-top: 4px solid #50C6C6;
    font-size: 0.8em;
    text-transform: uppercase;
    width: 80px;
    text-align: center;
    margin: 0;
  }
  body header .header_2 .header_2_container nav ul .home .nav_pin_home {
    color: #50C6C6;
    top: -10px;
    display: block;
    position: absolute;
    top: 0px;
    margin-left: 30px;
  }
  body header .header_2 .header_2_container nav ul .home a {
    margin-top: 17px;
  }
  body header .header_2 .header_2_container nav ul .home:hover {
    background-color: #FCFCFE;
  }
  body header .header_2 .header_2_container nav ul .home:hover a {
    background-color: #FCFCFE;
    color: #000000;
  }
  body header .header_2 .header_2_container nav ul .dash {
    display: none;
  }
  body header .header_2 .header_2_container nav ul .main {
    font-size: 0.8em;
    text-transform: uppercase;
  }
  body header .header_2 .header_2_container nav ul .main:hover {
    background-color: #FCFCFE;
    color: #000000;
  }
  body header .header_2 .header_2_container nav ul .pages {
    padding: 20px 5px;
    width: 80px;
    text-align: center;
    position: relative;
    border-top: 4px solid #ffffff;
  }
  body header .header_2 .header_2_container nav ul .pages .nav_pin {
    display: none;
  }
  body header .header_2 .header_2_container nav ul .pages:hover {
    background-color: #FCFCFE;
    border-top: 4px solid #50C6C6;
  }
  body header .header_2 .header_2_container nav ul .pages:hover .nav_pin {
    display: block;
    position: absolute;
    top: -6px;
    margin-left: 30px;
    text-align: center;
    color: #50C6C6;
  }
  body header .header_2 .header_2_container nav ul .pages:hover .nav_item {
    width: 190px;
    display: block;
    position: absolute;
    top: 75px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
  }
  body header .header_2 .header_2_container nav ul .pages:hover .nav_item li {
    display: block;
    padding: 4px;
  }
  body header .header_2 .header_2_container nav ul .pages:hover .nav_item li:hover {
    background-color: #50C6C6;
    color: #ffffff;
  }
  body header .header_2 .header_2_container nav ul .pages:hover .nav_item li a {
    color: #ffffff;
    display: block;
  }
  body header .header_2 .header_2_container nav ul .pages div {
    display: none;
  }
  body header .header_2 .header_2_container nav ul .elements {
    padding: 20px 0px;
    width: 110px;
    text-align: center;
    border-top: 4px solid #ffffff;
  }
  body header .header_2 .header_2_container nav ul .elements .nav_pin {
    display: none;
  }
  body header .header_2 .header_2_container nav ul .elements:hover {
    background-color: #FCFCFE;
    border-top: 4px solid #50C6C6;
  }
  body header .header_2 .header_2_container nav ul .elements:hover .nav_pin {
    display: block;
    position: absolute;
    top: -2px;
    margin-left: 40px;
    text-align: center;
    color: #50C6C6;
  }
  body header .header_2 .header_2_container nav ul .elements:hover .nav_item {
    width: 190px;
    display: block;
    position: absolute;
    top: 80px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  body header .header_2 .header_2_container nav ul .elements:hover .nav_item li {
    display: block;
    padding: 4px;
  }
  body header .header_2 .header_2_container nav ul .elements:hover .nav_item li a {
    color: #ffffff;
    display: block;
  }
  body header .header_2 .header_2_container nav ul .elements div {
    display: none;
  }
  body header .header_2 .header_2_container nav ul .blogs {
    padding: 20px 5px;
    width: 100px;
    text-align: center;
    border-top: 4px solid #ffffff;
  }
  body header .header_2 .header_2_container nav ul .blogs .nav_pin {
    display: none;
  }
  body header .header_2 .header_2_container nav ul .blogs:hover {
    background-color: #FCFCFE;
    border-top: 4px solid #50C6C6;
  }
  body header .header_2 .header_2_container nav ul .blogs:hover .nav_pin {
    display: block;
    position: absolute;
    top: -2px;
    margin-left: 30px;
    text-align: center;
    color: #50C6C6;
  }
  body header .header_2 .header_2_container nav ul .blogs:hover .blogs_overview {
    display: block;
  }
  body header .header_2 .header_2_container nav ul .blogs:hover .blogs_overview a {
    color: #ffffff;
    display: block;
    width: 100%;
    padding: 10px 0px;
  }
  body header .header_2 .header_2_container nav ul .blogs:hover .blogs_post {
    display: block;
  }
  body header .header_2 .header_2_container nav ul .blogs:hover .blogs_post a {
    color: #ffffff;
    display: block;
    width: 100%;
    padding: 10px 0px;
  }
  body header .header_2 .header_2_container nav ul .blogs:hover .nav_item {
    width: 250px;
    display: block;
    position: absolute;
    top: 80px;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  body header .header_2 .header_2_container nav ul .blogs:hover .nav_item li a {
    background-color: #50C6C6;
    color: #ffffff;
    display: block;
    width: 100%;
    padding: 10px 0px;
  }
  body header .header_2 .header_2_container nav ul .blogs div .blogs_overview {
    display: none;
  }
  body header .header_2 .header_2_container nav ul .blogs div .blogs_overview div {
    display: none;
  }
  body header .header_2 .header_2_container nav ul .blogs div .blogs_post {
    display: none;
  }
  body header .header_2 .header_2_container nav ul .blogs div .blogs_post div {
    display: none;
  }
  body header .header_2 .header_2_container nav ul .gallery {
    padding: 20px 5px;
    width: 100px;
    text-align: center;
    border-top: 4px solid #ffffff;
    margin: 0;
  }
  body header .header_2 .header_2_container nav ul .gallery .nav_pin {
    display: none;
  }
  body header .header_2 .header_2_container nav ul .gallery:hover {
    background-color: #FCFCFE;
    border-top: 4px solid #50C6C6;
  }
  body header .header_2 .header_2_container nav ul .gallery:hover .nav_pin {
    display: block;
    position: absolute;
    top: -2px;
    margin-left: 30px;
    text-align: center;
    color: #50C6C6;
  }
  body header .header_2 .header_2_container nav ul .gallery:hover .nav_item {
    width: 190px;
    display: block;
    position: absolute;
    top: 80px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  body header .header_2 .header_2_container nav ul .gallery:hover .nav_item li {
    display: block;
    padding: 4px;
  }
  body header .header_2 .header_2_container nav ul .gallery:hover .nav_item li:hover {
    background-color: #50C6C6;
    color: #ffffff;
  }
  body header .header_2 .header_2_container nav ul .gallery:hover .nav_item li a {
    color: #ffffff;
    display: block;
  }
  body header .header_2 .header_2_container nav ul .gallery div {
    display: none;
  }
  body header .header_img {
    margin-top: -10px;
  }
  body header .header_img .direction {
    width: 90%;
    display: none;
  }
  body header .header_img .direction .glyphicon {
    font-size: 39px;
  }
  body header .header_img .direction .prev_wrapper {
    border: 2px solid;
    width: 60px;
    padding: 0.5em;
    border-radius: 50px;
  }
  body header .header_img .direction .next_wrapper {
    border: 2px solid;
    width: 60px;
    padding: 0.5em;
    border-radius: 50px;
  }
  body header .header_img .img_tracker {
    width: 7em;
    padding: 0.7em 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    position: absolute;
    top: 5px;
    right: 0;
    display: none;
    z-index: 560;
    -webkit-animation-name: drop;
            animation-name: drop;
    -webkit-animation-duration: 400ms;
            animation-duration: 400ms;
  }
  body header .header_img .img_tracker .trackers {
    border-radius: 100px;
    padding: 0.5em;
    margin: 0em 0.2em;
    background-color: rgba(39, 39, 39, 0.1);
    border: 1px solid #ffffff;
  }
  body header .header_img .text {
    display: block;
    position: absolute;
    text-align: center;
    top: 0;
    padding: 2em 2em;
  }
  body header .header_img .text h2,
  body header .header_img .text p {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    display: inline-block;
  }
  body header .header_img .text button {
    padding: 0.5em;
    background-color: #50C6C6;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    margin-top: 1em;
  }
  body main {
    margin-top: 0;
  }
  body main .section_1 .column_1 {
    grid-column: span 3;
    padding: 2em 0em;
  }
  body main .section_1 .column_2 {
    grid-column: span 3;
    padding: 2em 0em;
  }
  body main .section_1 .column_3 {
    grid-column: span 3;
    padding: 2em 0em;
  }
  body main .section_1 .column_4 {
    grid-column: span 3;
    padding: 2em 0em;
  }
  body main .section_2 {
    gap: 20px;
  }
  body main .section_2 .column_1 {
    grid-column: span 12;
  }
  body main .section_2 .column_2 {
    grid-column: span 4;
  }
  body main .section_2 .column_3 {
    grid-column: span 4;
  }
  body main .section_2 .column_4 {
    grid-column: span 4;
  }
  body main .section_3 .column_1 {
    grid-column: span 6;
  }
  body main .section_3 .column_2 {
    grid-column: span 6;
  }
  body main .section_3 .column_2 div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body main .section_3 .column_2 div .btn_blue {
    padding: 0.4em;
    width: 130px;
    margin: 0em;
  }
  body main .section_3 .column_2 div .btn_grey {
    padding: 0em;
    width: 130px;
    margin-left: 0.3em;
  }
  body main .section_4 {
    padding-left: 4em;
    padding-right: 4em;
  }
  body main .section_4 div img {
    width: 80%;
  }
  body main .section_4 .column_1 {
    grid-column: span 12;
  }
  body main .section_4 .column_1 h2 {
    font-size: 2.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  body main .section_4 .column_2 {
    grid-column: span 3;
  }
  body main .section_4 .column_3 {
    grid-column: span 3;
  }
  body main .section_4 .column_4 {
    grid-column: span 3;
  }
  body main .section_4 .column_5 {
    grid-column: span 3;
  }
  body main .section_5 {
    padding: 7em 0em;
    padding-left: 4em;
    padding-right: 4em;
  }
  body main .section_5 div {
    text-align: center;
  }
  body main .section_5 div img {
    width: 90%;
    border-radius: 1000px;
    border: 1px solid #7ED4D4;
    margin: 2em 0em;
  }
  body main .section_5 .column_1 {
    grid-column: span 12;
  }
  body main .section_5 .column_1 h2 {
    font-size: 3em;
  }
  body main .section_5 .column_2 {
    grid-column: span 2;
  }
  body main .section_5 .column_3 {
    grid-column: span 2;
  }
  body main .section_5 .column_4 {
    grid-column: span 2;
  }
  body main .section_5 .column_5 {
    grid-column: span 2;
  }
  body main .section_5 .column_6 {
    grid-column: span 2;
  }
  body main .section_5 .column_7 {
    grid-column: span 2;
  }
  body main .section_6 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 3em;
    padding-right: 2em;
  }
  body main .section_6 .column_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0.5em 0em;
    grid-column: span 6;
  }
  body main .section_6 .column_1 h2 {
    font-size: 2.3em;
  }
  body main .section_6 .column_2 {
    grid-column: span 6;
  }
  body main .section_6 .column_2 input {
    width: 60%;
  }
  body main .section_6 .column_2 button {
    padding: 0.5em;
    margin: 0em 0.3em;
  }
  body main .section_7 {
    padding-left: 3em;
    padding-right: 3em;
  }
  body main .section_7 .column_1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  body main .section_7 .column_1 h2 {
    font-size: 2em;
    margin: 0.5em 0em;
  }
  body main .section_7 .column_1 .info_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .section_7 .column_1 .info_container .info {
    margin: 0.5em 0em;
    width: 35%;
  }
  body main .section_7 .column_1 .info_container .time {
    margin: 1em 0em;
    width: 60%;
  }
  body main .section_7 .column_1 .info_container .time p {
    margin: 0.4em 0em;
  }
  body main .section_7 .column_1 .info_container .time img {
    width: 10px;
    margin-right: 0.3em;
  }
  body main .section_7 .column_2 {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8/13;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=style.css.map */